.properties-map-link {
    display: block;
    margin-top: 15px;
    color: white;
    text-decoration: underline;
}

#properties-map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
